<li>
    <a target="_blank" href="{{ .Site.Params.mastodon }}" title="{{ . }}"><i class="fab fa-mastodon mx-2 my-4"></i></a>
</li>

<li>
    <a target="_blank" href="{{ .Site.Params.facebook }}" title="{{ . }}"><i class="fab fa-facebook mx-2 my-4"></i></a>
</li>

<li>
    <a target="_blank" href="{{ .Site.Params.twitter }}" title="{{ . }}"><i class="fab fa-twitter mx-2 my-4"></i></a>
</li>

<li>
    <a target="_blank" href="{{ .Site.Params.instagram }}" title="{{ . }}"><i class="fab fa-instagram mx-2 my-4"></i></a>
</li>