<ul class="navbar-nav my-auto align-items-center list">
  <li style="display:contents;">
    <ul class="p-0 list-unstyled">
      <li>
        <a target="_blank" href="{{ .Site.Params.mastodon }}" title="{{ . }}"><i
            class="fab fa-mastodon small mx-2 my-3"></i></a>
      </li>

      <li>
        <a target="_blank" href="{{ .Site.Params.facebook }}" title="{{ . }}"><i
            class="fab fa-facebook small mx-2 my-3"></i></a>
      </li>

      <li>
        <a target="_blank" href="{{ .Site.Params.twitter }}" title="{{ . }}"><i
            class="fab fa-twitter small mx-2 my-3"></i></a>
      </li>

      <li>
        <a target="_blank" href="{{ .Site.Params.instagram }}" title="{{ . }}"><i
            class="fab fa-instagram small mx-2 my-3"></i></a>
      </li>
    </ul>
  </li>
</ul>