<li>
  {{ with .Site.Params.mastodon }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fab fa-mastodon mx-2"></i></a>{{ end }}
</li>

<li>
  {{ with .Site.Params.facebook }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fab fa-facebook mx-2"></i></a>{{ end }}
</li>

<li>
  {{ with .Site.Params.twitter }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fab fa-twitter mx-2"></i></a>{{ end }}
</li>

<li>
  {{ with .Site.Params.instagram }}<a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fab fa-instagram mx-2"></i></a>{{ end }}
</li>