.dropdown-item.active,
.dropdown-item:active {
  background-color: #d24725;
  color: #fff;
  text-decoration: none;
}

body {
  font-size: medium;
}

.dropdown {
  list-style: none
}

form .form-control:focus { 
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: gray !important;
}

input:-moz-placeholder {
  color: gray !important;
}
