.dropdown-item.active,
.dropdown-item:active {
  background-color: #d24725;
  color: #fff;
  text-decoration: none;
}

.content-wrap{ 
  height: auto;
  min-height:100vh;
  width: 100vw; 
  overflow: auto;
  font-size: medium;
}

.dropdown {
  list-style: none
}

form .form-control:focus { 
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: gray !important;
}

input:-moz-placeholder {
  color: gray !important;
}
.btn-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: auto !important;
}

.fa-lg { 
  vertical-align: -.5em;
}

ul.list li{
  width: auto;
  float: left;
}
