<!doctype html>
<html lang="{{ .Language }}">

{{ partial "head" . }}

<body class="profile-page sidebar-collapse">

  <div class="content-wrap">
    {{ partial "nav" . }}

    {{ block "main" . }}
      <div class="container">
        <div class="row p-5">
          <h2 class="col-12 pt-5">{{ .Title }}</h2>
          <div class="col-12">
            {{ .Content }}
          </div>

          {{ if .Params.image_src }}
            <div class="col-12 col-md-12">
              <img src="{{ .Params.image_src }}" class="img-fluid rounded">
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{ block "headless" .}}
      {{ with .Resources.ByType "page" }}
        {{ range sort . "Name" }}
          {{ $flexClass := "flex-md-row" }}
          {{ if eq .Params.content_float "left" }}
            {{ $flexClass = "flex-md-row-reverse" }}
          {{ end }}

          <div class="section section-story-overview px-5 container">
            <div class="row align-items-center   flex-column-reverse {{ $flexClass }}">
                <div class="col-12 col-md-{{ if .Params.image_src }}6{{ else }}12{{ end }}">
                  <h4>{{ .Title }}</h4>
                  {{ .Content }}
                </div>

                {{ if .Params.image_src }}
                  <div class="col-12 col-md-6">
                    <img src="{{ .Params.image_src }}" class="img-fluid rounded">
                  </div>
                {{ end }}
            </div>
          </div>
        {{ end }} <!-- range -->
      {{ end }} <!-- with -->

    {{ end }} <!-- block -->
  </div>

</body>

{{ partial "newsletter/form" .}}

{{ partial "javascript_solnascente" . }}

</html>
