<!doctype html>
<html lang="{{ .Language }}">

{{ partial "head" . }}

<body class="profile-page sidebar-collapse">

  <div class="content-wrap">
    {{ partial "nav" . }}

    {{ block "main" . }}
      <div class="container">
        <div class="row p-5">
          <h2 class="col-12 pt-5">{{ .Title }}</h2>
          <div class="col-12">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{ end }}

    {{ block "headless" .}}
      {{ range .Resources.ByType "page" }}
        {{ $flexClass := "flex-md-row" }}
        {{ if eq .Params.content_float "left" }}
          {{ $flexClass = "flex-md-row-reverse" }}
        {{ end }}
        <div class="section section-story-overview p-5">
          <div class="container">
            <div class="row align-items-center mt-5 flex-column-reverse {{ $flexClass }}">
              {{ if .Params.image_src }}
                <div class="col-12 col-md-6">
              {{ else }}
                <div class="col-12 col-md-12">
              {{ end }}
                  <h4>
                    {{ .Title }}
                  </h4>
                  {{ .Content }}
                </div>
              {{ if .Params.image_src }}
                <div class="col-12 col-md-6">
                  <div class="image-container border-0" style="background-image: url('{{ .Params.image_src }}'); box-shadow: none"></div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>

</body>

{{ partial "newsletter/form" .}}

{{ partial "javascript" . }}

</html>
