{{ define "main" }}
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">{{ .Params.Title }}</h2>
    <div class="team">
      <div class="row justify-content-center">
        {{ range .Params.Team }}
        <div class="col-md-4 my-3">
          <div class="team-player">
            <img src="{{.img_source | relURL}}" alt="Thumbnail Image" class="rounded-circle img-fluid" style="height:160px;width:160px">
            <h4 class="title">{{ .name }}</h4>
            <p class="category text-primary">{{ .position }}</p>
            <p class="description">{{ .description }}</p>

            {{ with .twitter }}
            <a href="{{ . }}" class="btn btn-primary btn-round"><i class="fab fa-twitter fa-lg"></i></a>
            {{ end }}

            {{ with .instagram }}
            <a href="{{ . }}" class="btn btn-primary btn-round"><i class="fab fa-instagram fa-lg"></i></a>
            {{ end }}

            {{ with .facebook }}
            <a href="{{ . }}" class="btn btn-primary btn-round"><i class="fab fa-facebook-square fa-lg"></i></a>
            {{ end }}

            {{ with .mastodon }}
            <a target="_blank" href="{{ . }}" title="{{ . }}"><i class="fab fa-mastodon mx-2"></i></a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "headless" }}
{{ $headless := .Site.GetPage "page" "team/headless" }}
{{ if $headless }}
{{ with $headless.Resources }}
{{ range . }}
{{ $flexClass := "flex-md-row" }}
{{ if eq .Params.content_float "left" }}
{{ $flexClass = "flex-md-row-reverse" }}
{{ end }}

<div class="section section-story-overview">
  <div class="container">
    <div class="row align-items-center mt-5 flex-column-reverse {{ $flexClass }}">
      <div class="col-12 col-md-6">
        <h4>
          {{ .Title }}

          <br>
          <small>
            {{ .Content }}
          </small>
        </h4>
      </div>

      <div class="col-12 col-md-6">
        <div class="image-container border-0" style="background-image: url('{{ .Params.image_src }}'); box-shadow: none"></div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
{{ end }}