<div class="alert alert-info position-relative" role="alert">
  <div class="container">
    <div class="alert-icon">
      <i class="now-ui-icons travel_info"></i>
    </div>
    <strong>Subscribe to our mailing list!</strong> You can write something else here.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Subscribe!
      </button>
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>
</div>