<div class="alert alert-info position-relative mb-0 p-0" role="alert">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="alert-icon">
          <i class="now-ui-icons travel_info"></i>
        </div>
      </div>
      <div class="col">
        <strong>Subscribe to our mailing list!</strong>
      </div>
      <div class="col">
        <button class="btn btn-neutral mx-5 px-5" data-toggle="modal" data-target="#mailChimp">
          Subscribe!
        </button>
      </div>
      <div class="col">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">
            <i class="now-ui-icons ui-1_simple-remove"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>