<!doctype html>
<html lang="{{ .Language }}">
{{ partial "head" . }}

<body class="profile-page sidebar-collapse">
  {{ partial "nav" . }}
  {{ partial "newsletter/subscribe_toast" . }}

  <div class="wrapper">
    {{ with .Site.GetPage "/landingMain" }}
      {{ partial "landingMain" . }}
    {{ end }}
    <div class="main">
      <div class="container">
        {{ with .Site.GetPage "/image1" }}
        {{ partial "image_text" . }}
        {{ end }}
        {{ with .Site.GetPage "/image2" }}
        {{ partial "image_text" . }}
        {{ end }}
        {{ partial "team" . }}
      </div>
      {{ partial "newsletter/form" .}}
    </div>
  </div>

  {{ partial "footer" . }}


</body>

{{ partial "javascript" . }}

</html>