<div class="footer" data-background-color="black">
  <div class="container text-center">
    <ul>

      {{ partial "social_networks/list" .}}

      <li>
        <a href="https://spdx.org/licenses/MIT"><i class="fa fa-balance-scale"></i> MIT</a>
      </li>

      <li class="mx-5">
        © 2019 Sol Nascente. All rights reserved.
      </li>

      <li class="mx-5">
        <div class="text-muted">
          Created by <strong>1313 Labs</strong>.
        </div>
      </li>
    </ul>
  </div>
</div>