{{with .Site.GetPage "/footer" }}
<div class="footer" data-background-color="black">
  <div class="container text-center">
    <ul>

      {{ partial "social_networks/list" .}}

      <li>
        <a href="https://spdx.org/licenses/MIT"><i class="fa fa-balance-scale"></i> MIT</a>
      </li>

      <li class="mx-5">
        2019 {{ .Site.Title }}. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons-Licentie"
            style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
      </li>

      <li class="mx-5">
        <div class="text-muted">
          {{ .Params.created_by }} <strong>{{ .Params.creator }}</strong>
        </div>
      </li>
    </ul>
  </div>
</div>
{{ end }}