{{ with .Site.GetPage "/team" }}
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">{{ .Params.Title }}</h2>
    <div class="team">
      <div class="row">
        {{ range .Params.Team }}
        <div class="col-md-4">
          <div class="team-player">
            <img src="{{.img_source | relURL}}" alt="Thumbnail Image" class="rounded-circle img-fluid" style="height:160px;width:160px">
            <h4 class="title">{{ .name }}</h4>
            <p class="category text-primary">{{ .position }}</p>
            <p class="description">{{ .description }}</p>

            {{ if .twitter }}
            <a href="{{ .twitter }}" class="btn btn-primary btn-round"><i class="fab fa-twitter fa-lg"></i></a>
            {{ end }}

            {{ if .instagram }}
            <a href="{{ .instagram }}" class="btn btn-primary btn-round"><i class="fab fa-instagram fa-lg"></i></a>
            {{ end }}

            {{ if .facebook }}
            <a href="{{ .facebook }}" class="btn btn-primary btn-round"><i class="fab fa-facebook-square fa-lg"></i></a>
            {{ end }}
            
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
</div>
{{ end }}