{{ with .Site.GetPage "/team" }}
<div class="section section-team text-center">
  <div class="container">
    <h2 class="title">{{ .Params.Title }}</h2>
    <div class="team">
      <div class="row">
        {{ range .Params.Team }}
        <div class="col-md-4">
          <div class="team-player">
            <img src="{{.img_source | relURL}}" alt="Thumbnail Image" class="rounded-circle img-fluid"
              style="width:160px;">
            <h4 class="title">{{ .name }}</h4>
            <p class="category text-primary">{{ .position }}</p>
            <p class="description">{{ .description }}</p>
            <a href="#pablo" class="btn btn-primary btn-round"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="#pablo" class="btn btn-primary btn-round"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#pablo" class="btn btn-primary btn-round"><i class="fab fa-facebook-square fa-lg"></i></a>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
</div>
{{ end }}